@import "tailwindcss";

:root {
  --background: #000000;
  --foreground: #171717;
  --link: #a45ee5;
  --active-link: #8448bd;
  --active-hover: #8448bd;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-link: var(--link);
  --color-active-link: var(--active-link);
  --color-hover-link: var(--hover-link);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #000000;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@layer components {
  
  /*Homepage*/
  
  .sitefooter {
    background: linear-gradient(to left, #FFE869, #FCB216);
    border-bottom: 0.7rem solid black;
    height: 5.6rem;
    grid-column: span 2;
    width: 100%;
    display: flex;
}
  .sidebar {
    display: grid;
    grid-template-columns: 2fr auto;
    grid-row: span 5; 
    flex-direction: column;
    background: linear-gradient(to bottom, #FFE869, #FCB216);
    width: 2rem;
    flex-wrap: wrap;
    align-content: start;
    align-items: start;
    transition: width 0.6s ease-in;
    overflow: hidden;
    margin: 0.5rem;
    gap: 0.5rem;
  }
  .sidebar-logo{
      margin-top: 0.5rem;
        opacity: 1;
        height: 1.5rem;
        transition: 0.5s;
  }
  .sidebar-button{
        background-color: transparent;
        width: 100%;
        padding: 0;
        display: block;
        border: none;
        margin-top: .2rem;
        cursor: pointer;
  }

  /*-----Header------*/

  .siteheader {
    background: linear-gradient(to right, #FFE869, #FCB216);
    border-top: 0.7rem solid black;
    height: 5.6rem;
    display: flex;
    align-items: center;
    grid-column: span 2;
  }

    .mylogo {
        margin-top: 0.5rem;
    }
}
