@import "tailwindcss";

:root {
  --background: #000000;
  --foreground: #171717;
  --link: #a45ee5;
  --active-link: #8448bd;
  --active-hover: #8448bd;
  --description-color: #F8E4A3;
}


@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #000000;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@layer components {
  
  /*Homepage*/

  .sidebar {
    display: grid;
    grid-template-columns: 2fr auto;
    grid-row: span 6; /* add 1 to equation, everytime new project is added*/
    flex-direction: column;
    background: linear-gradient(to bottom, #FFE869, #FCB216);
    width: 2rem;
    flex-wrap: wrap;
    align-content: start;
    align-items: start;
    transition: width 0.6s ease-in;
    overflow: hidden;
    margin: 0.5rem;
    gap: 0.5rem;
  }
  .sidebar-logo{
    margin-top: 0.5rem;
    opacity: 0;
    width: 0; 
    height: 0;
    transition: opacity 0.5s ease, width 0.5s ease, height 0.5s ease;
  }
  .sidebar-button{
    background-color: transparent;
    width: 100%;
    padding: 0;
    display: block;
    border: none;
    margin-top: .2rem;
    cursor: pointer;
  }
  .sidebar-menu{
    width: 100%;
    grid-column: 1 / -1;
  }
  .sidebar-icons{
    font-size: 24px;
    color: black;
    margin-left: 0.25rem;
  }
  .sidebar__list {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.sidebar__burgermenu {
  appearance: none;
  background-color: transparent;
  border: none;
  outline: none;
  width: 1.5rem;
  height: 1.5rem;
  text-align: left;
}
.sidebar__link {
  text-decoration: none;
  text-wrap: wrap;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  gap: 0.2rem;
}

.sidebar__link img {
  height: 24px;
}

/* MODIFIER */
.sidebar--open {
  width: 12rem;
}
.sidebar--open .sidebar__logo{
  opacity: 1; 
  width: 5rem;        
  height: auto;
}

.sidebar--open .sidebar__link-text {
  opacity: 1;
  transition: 0.5s;
  border-radius: 0.5rem;
  color: black;
}

.sidebar--open .sidebar__link-text:hover {
  padding: 0.5rem;
  border: 1px solid #630AA8;
  color: #630AA8;
}

/* RESPONSIVE */
@media (max-width: 1181px) {
  .sidebar {
    width: 2rem;
  }

  .sidebar--open {
    width: 12rem;
  }
}
  .homepage-section {
    display: grid;
    gap: 1rem;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto 1fr;
    min-height: 100vh;
}

  /*-----homeproject-cards-----*/
  .home-page-project {
        display: flex;
        grid-column: span 1;
        align-content: center;
  }
  .home-page-project div {
      margin-left: 1.5rem;
  }

  .home-page-project img {
  border: solid;
  border-image: linear-gradient(#FFE869, #FCB216) 3 / 30px;
  order: -1;
}

/* modifier */
.home-page-project--right {
  align-content: center;
  justify-content: right;
  margin-right: 1.5rem;
}
.home-page-project--right div:not(.flex) > p:first-of-type{
  margin-right: 1rem;
}
.home-page-project--right div {
  margin-left: 0;
}

/* modifier image override */
.home-page-project--right img {
  order: unset;
}

/* view more section */
.home-page-project__viewmore {
  display: flex;
  gap: 0.5rem;
}


  /*-----Header------*/

  .siteheader {
    background: linear-gradient(to right, #FFE869, #FCB216);
    border-top: 0.7rem solid black;
    height: 5.6rem;
    display: flex;
    align-items: center;
    grid-column: span 2;
  }
  .siteheader-button{
    
  }

    .mylogo {
        margin-top: 0.5rem;
    }
}

/*----Projects----*/
.projects-heading {
  display: flex;
  justify-content: center;
}

/* Wrapper around all project cards */
.wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  margin-inline: 1rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
  justify-content: center;
}

/* The outer container of each project card */
.project-container {
  display: flex;
  width: 100%;
  height: 100%;
  border: solid;
  border-image: linear-gradient(#FFE869, #FCB216) 2 / 2px;
  order: -1;
  color: #FFE869;
  text-align: center;
}
.project-container:hover {
  box-shadow: 0 0 20px #FCB216;
  color: #FCB216;
}


/* The image element */
.project-card__image {
  width: 100%;
  object-fit: cover;
  flex-grow: 1;
}

/* The text container */
.project-card__image-text-container {
  flex-basis: 325px;
  display: flex;
  justify-content: stretch;
  flex-direction: column;
}

/*-----footer-----*/
  
  .sitefooter {
    background: linear-gradient(to left, #FFE869, #FCB216);
    border-top: 0.7rem solid black;
    border-bottom: 0.7rem solid black;
    height: 5.6rem;
    grid-column: span 2;
    width: 100%;
    display: flex;
} 
